{{!--
Add content you wish automatically added to the documents head
here. The 'model' available in this template can be populated by
setting values on the 'head-data' service.
--}}
<title>{{model.title}}</title>
<!-- jQuery -->
<script src="https://www.usbr.gov/js/lib/jquery.js"></script>
<!-- Responsive Video Plugin -->
<script src="https://www.usbr.gov/js/lib/jquery.fitvids.min.js"></script>
<script>
  $(".fluid-video").fitVids();
</script>


<!-- Outlines -->
<script src="https://www.usbr.gov/js/components/outlines.js"></script>

<!-- Mobile Navigation -->
<script src="https://www.usbr.gov/js/components/navigation.js"></script>

<!-- Responsive Tabs -->
<script src="https://www.usbr.gov/js/lib/responsive-tabs.js"></script>
<script src="https://www.usbr.gov/js/components/tabs.js"></script>

<!-- Explore Accordion -->
<script src="https://www.usbr.gov/js/components/explore.js"></script>

<!-- Carousel -->
<script src="https://www.usbr.gov/js/lib/carousel.js"></script>
<script src="https://www.usbr.gov/js/components/carousel.js"></script>

<!-- Left Navigation -->
<script src="https://www.usbr.gov/js/components/left-nav.js"></script>

<!-- jssor includes -->
<script type="text/javascript" src="https://www.usbr.gov/js/lib/jssor.slider.min.js"></script>
<script src="https://www.usbr.gov/js/lib/jssor.js"></script>
